body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: burlywood;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.leaf {
  background-color: lightgreen;
  /* border: 2px solid green; */
  /* outline: 2px solid green; */
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: none;
  padding: none;
  /* box-shadow: 2px 5px 5px gray; */
}

.leaves-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  flex-direction: column;
  align-items: center;
}

.dialogue-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.tree-enter {
  opacity: 0;
}

.tree-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.tree-exit {
  opacity: 1;
}

.tree-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.tree-appear {
  opacity: 0;
}

.tree-appear-active {
  opacity: 1;
  transition: opacity 1000ms;
}

/* .tree-appear-exit {
  opacity: 1;
}

.tree-appear-exit-active {
  opacity: 0;
  transition: opacity 1000ms, transform 1000ms;
} */

.value-input {
  background-color: lightgreen;
  height: 46px;
  width: 46px;
  border-radius: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  text-align: center;
  padding: none;
  z-index: 1;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.insert-form {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}